<h1>LOGIN</h1>


<% if @errors %>
  <%= puts "ERROR(S):" %>
  <% @errors.each do |error|%>
    <br>
    <%= error %>
  <% end %>
<% end %>

<form action="/sessions" method="POST">
  <label for="email">Email:</label>
    <input type="text" name="email">
    <br>
  <label for="password">Password:</label>
    <input type="password" name="password">
    <br>
    <input type="submit" name="Create Session" value="Login">
</form>
