<% if logged_in? %>
  <h3>Hello, <%= current_user.username %> </h3>
<% end %>

<% if !logged_in? %>
  <h3>Please login to continue</h3>
<% end %>


<% if logged_in? %>
  <h5>Enter details below</h5>

  <%= erb :"/_errors", layout: false %>

  <%= erb :"/_input_form", layout: false %>
<% end %>
